{% extends 'admin.twig' %}

{% set title %}{{ 'SearchEngineKeywordsPerformance_SearchEngineKeywordsPerformance'|translate }}{% endset %}

{% block content %}

    <div
        vue-entry="SearchEngineKeywordsPerformance.AdminPage"
        providers="{{ providers|default(null)|json_encode }}"
    ></div>

{% endblock %}