### This is the Terraform-generated dev-build.yml workflow for the          ###
### docker-matomo-stage app repository.                                     ###
name: Stage Container Build and Deploy
# checkov:skip=CKV2_GHA_1:The shared workflow contains the permissions constraints
# NOTE: The above checkov skip command doesn't actually work and this workflow
#       will always show a checkov warning.

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'

jobs:
  deploy:
    name: Stage Container Deploy
    uses: mitlibraries/.github/.github/workflows/ecr-shared-deploy-stage.yml@main
    secrets: inherit
    with:
      AWS_REGION: "us-east-1"
      GHA_ROLE: "docker-matomo-gha-stage"
      ECR: "docker-matomo-stage"
 
